body {
    background-color: aliceblue;
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.33em;
    text-transform: uppercase;
}

h3, h4, h5, h6 {
    text-transform: uppercase;
}

#conteneur
{
    display: flex;
    background-color: white;
    color:black;
 //   border: 1px solid black;
}

p {
  display : block;  
  padding: 1em 1.5em;
  text-decoration: none;
}

p.descript {
  background-color: lightsteelblue;
  color: white;
}

p.message {
    color: red;
}

a.button, input.button {
  display : block;
  background-color: lightseagreen;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a.button:hover {
  background-color: #555;
}

a.button:active {
  background-color: black;
}

article {
    border: 1em black solid;
}